/**********************tag********************/
h1{
  color:#3D0000 ;
}
img:{
  background-color: #FAC213;
}
/**********************class tag********************/
.sugar:HOVER{background-color: #2F3032;}
.jawari:hover{background-color: yellow;}
.bajara:hover{background-color:green;}
.ragi:hover{background-color: lightgreen;}
.brice:hover{background-color: #5FD068;}
.govind:hover{background-color: #33425B}
.sanju:hover{background-color:   #28475C}
iframe{
  height: 200px;
  width: 200px;
  position: relative;
  left: 600px;
  bottom: 180px;}
.maps{
    position: absolute;
    top: 200px;
    left: 300px;
  }
